/* Reset CSS (Eric Meyer) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #FFFEF8;
}

main {
  max-width: 1140px;
  margin: 0px 150px 0px 150px;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}
a:visited {
  color: #000;
}
a:link {
  color: #000;
}
a:hover {
  color: #B1663C;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #B1663C;
  gap: 4px;
}
h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1D6154;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  margin-right: 107px;
}

footer {
  background-color: white;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 50px 150px 0px 150px;
}
header img:hover {
  filter: invert(45%) sepia(66%) saturate(500%) hue-rotate(345deg) brightness(90%) contrast(85%);
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
}
nav li:hover {
  color: #B1663C;
}

section {
  margin: 50px 0;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction figure img {
  display: block;
  margin: auto;
  width: 80%;
}
#introduction article {
  flex: 1;
}
#introduction article h2 {
  margin-bottom: 1em;
}
#introduction article p {
  margin-bottom: 0.5em;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.gallery img {
  width: 100%;
}

#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type=submit] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

.filter-btn {
  font-family: "Syne";
  font-weight: 700;
  font-size: 16px;
  color: 1D6154;
  background-color: #fff;
  text-align: center;
  border: 1.5px solid #1D6154;
  color: #1D6154;
  border-radius: 60px;
  height: 37px;
  min-width: 100px;
  padding: 0px 15px 0px 15px;
}

.filter-btn-active {
  background-color: #1D6154;
  color: #fff;
}

.filter-btn-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

#login {
  display: flex;
  flex-direction: column;
  width: 380px;
  align-self: center;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin: 150px 0px 355px 0px;
}
#login h2 {
  margin-bottom: 7px;
}
#login form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#login label {
  color: #3D3D3D;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 7px;
  margin-top: 30px;
}
#login input:not(#loginBtn) {
  width: 100%;
  height: 50px;
  background: #FFF;
  border: none;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.09);
}
#login a {
  text-decoration: underline;
}

#loginBtn {
  height: 36px;
  border: none;
}/*# sourceMappingURL=homepage.css.map */