header {
	display: flex;
	justify-content: space-between;
	max-width: 1140px;
	margin: 50px 150px 0px 150px;
	& img:hover {
  filter: invert(45%) sepia(66%) saturate(500%) hue-rotate(345deg) brightness(90%) contrast(85%);
}
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;

	&:hover {
		color: #B1663C;
	}
}