html {
  scroll-behavior: smooth;
}
body {
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8;
	display: flex;
	flex-direction: column;
	align-items: center;
}
main{
max-width: 1140px;
margin: 0px 150px 0px 150px;
}


.hidden{
	display : none;
}
a {
	text-decoration: none;

	&:visited{
		color: #000;
	}	
	&:link{
		color: #000;
	}
	&:hover{
		color: #B1663C
	}
}
